<h1> My Tasks </h1>

<% if @current_user %>
  <% @tasks.each do |task| %>

  <% if task.completed? %>

  <div class="container">
      <div class="col-lg-6 col-lg-offset-1">

      <div class='col-md-6'>
        <h2 style="opacity: 0.5;"><strike><%= link_to task.title, user_task_path(@user, task) %></strike></h2>
        <p style="opacity: 0.5;"><strike><%= task.content %></strike></p>
        <p "opacity: 0.5;">Completed: <%= time_ago_in_words(task.completed_at)%> ago</p>
      </div>

      <div class='col-md-2'>
        <p><%= link_to edit_user_task_path(@user, task) do %></p>
        <i class="fa fa-lg fa-edit"></i>
        <% end %>
      </div>

      <div class='col-md-2'>
        <p><%= link_to complete_user_task_path(@user, task), method: :patch do %></p>
        <i class="fa fa-lg fa-check"></i>
        <% end %>
      </div>

      <div class='col-md-2'>
        <p><%= link_to user_task_path(@user, task), method: :delete, data: {confirm: "Are you sure?"} do %></p>
        <i class="fa fa-lg fa-trash"></i>
        <% end %>
      </div>

      </div>
    </div>

    <% else %>

    <div class="container">
        <div class="col-lg-6 col-lg-offset-1">
          <div class='col-md-6'>
            <h2><%= link_to task.title, user_task_path(@user, task) %></h2>
            <p><%= task.content %></p>
            <p>Created: <%= time_ago_in_words(task.created_at)%> ago</p>
          </div>

          <div class='col-md-2'>
            <p><%= link_to edit_user_task_path(@user, task) do %></p>
            <i class="fa fa-lg fa-edit"></i>
            <% end %>
          </div>

          <div class='col-md-2'>
            <p><%= link_to complete_user_task_path(@user, task), method: :patch do %></p>
            <i class="fa fa-lg fa-check"></i>
            <% end %>
          </div>

          <div class='col-md-2'>
            <p><%= link_to user_task_path(@user, task), method: :delete, data: {confirm: "Are you sure?"} do %></p>
            <i class="fa fa-lg fa-trash"></i>
            <% end %>
          </div>
        </div>
    </div>

  <% end %>
  <% end %>
  <% end %>
