<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UnDone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "UnDone", root_path, class: "navbar-brand" %>
      </div>
      <ul class=" nav nav-pills navbar-right">
        <% if current_user %>
        <li> <%= link_to "Create New List", new_user_task_list_path(current_user) %></li>
        <li> <%= link_to 'My Lists', user_task_lists_path(current_user) %></li>
        <li>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li>  <%= link_to "Sign Up", new_user_registration_path %></li>
        <li>  <%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
